:root {
    --c-white: #faf4f4;
    --c-gray: #8a8787;
    --c-green-200: #80ed99;
    --c-green-400: #45dfb1;
    --c-mint-100: #0ad1c8;
    --c-mint-300: #14919b;
    --c-blue-600: #0b6477;
    --c-blue-800: #213a57;
    --c-black: black;
    --c-red: #dc6f6f;
  }
  