.inputsBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
}

.passwordSection,
.emailSection,
.nameSection,
.birthSection{
display: flex;
gap: 1rem;
}