@import '../../styles/colors.css';

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    color: var(--c-white);
    background-color: var(--c-green-200);
    border-radius: 1rem;
    box-shadow:
    inset 0 0.5rem 8rem rgba(100, 232, 130, 0.7),
    inset 0 0.5rem 1rem rgba(23, 187, 237, 0.9),
    inset 0 -0.5rem 1rem rgba(14, 141, 150, 0.8);
    cursor: pointer;
  }

  .btn:active,
  .btn:focus {
    background-color: var(--c-green-400);
  }

  .btn:disabled {
      border: none;
      background-color: var(--c-gray);
      box-shadow: none;
      cursor: not-allowed;
  }

  @media (hover: hover) and (pointer: fine) and (pointer: fine) {
    .btn:hover:not([disabled]) {
        color: var(--c-mint-100);
        background-color: var(--c-blue-600);
        box-shadow:
        inset 0 0.5rem 8rem rgba(46, 105, 172, 0.7),
        inset 0 0.5rem 1rem rgba(11, 93, 118, 0.9),
        inset 0 -0.5rem 1rem rgba(37, 222, 235, 0.8);
        filter: drop-shadow(0.3rem 0.3rem 1.3rem var(--c-mint-100));
        transform: scale(1.1);
    }
}